* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 720px) {
  .page-layout {
    width: 720px;
    margin: 0 auto;
  }
}

.container {
  width: 95%;
  margin: 0 auto;
}

.vr-flex,
.hr-flex {
  display: flex;
  flex-direction: column;
}

.hr-flex {
  flex-direction: row;
}

.col-6 {
  flex: 0 0 49.999%;
  max-width: 49.999%;
}

.col-4 {
  flex: 0 0 33.333%;
  max-width: 33.333%;
}

.space-between {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}

.center {
  text-align: center;
}

header {
  min-height: 180px;
  background: #1da1f2;
  color: #eee;
  padding: 0 0.5rem;
}

.dashboard {
  height: calc(100vh - 184px);
  position: relative;
}

.transactions {
  width: 100%;
}

.transactions .table {
  margin: 8px 0;
}

.transactions,
.buttons {
  margin-top: 14px;
  padding: 0 0.5rem;
}

.buttons button {
  display: inline-block;
  padding: 0.4rem;
  margin-right: 20px;
  border: none;
  background: none;
  outline: none;
  transition: all 0.4s;
  cursor: pointer;
}

.buttons .active {
  background: #1da1f2;
  color: #f4f4f4;
}

.dashboard form {
  position: absolute;
  bottom: 5%;
  background: #f4f4f4;
  width: 100%;
  left: 50%;
  padding: 1px;
  transform: translateX(-50%);
  transition: all 0.4s;
}

.dashboard .form {
  display: grid;
  position: relative;
  grid-template-columns: 98%;
  row-gap: 7px;
  justify-content: center;
  transition: all 0.4s;
}

.dashboard input {
  display: block;
  padding: 4px 6px;
}

.dashboard form button {
  display: block;
  width: 98%;
  padding: 6px 8px;
  margin: auto;
  margin-top: 5px;
  background: #1da1f2;
  color: #fff;
  outline: none;
  border: none;
  box-shadow: 1px 2px 2px #555;
  transition: all 0.4s;
}

.dashboard form button:hover {
  box-shadow: none;
}

.dashboard .show-add {
  position: absolute;
  text-align: center;
  vertical-align: middle;
  bottom: 4%;
  right: 4%;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #1da1f2;
  color: #f4f4f4;
  border: none;
  outline: none;
  z-index: 2;
  font-size: 1.5rem;
}

.dashboard .add {
  display: none;
}

.dashboard .remove {
  position: absolute;
  height: 20px;
  width: 20px;
  top: -25px;
  right: 5px;
  color: #000;
  background: #ccc;
  border-radius: 50%;
  box-shadow: none;
  padding: 0;
}

.dashboard .remove-form {
  display: none;
}

.remove-item {
  color: #ff3838;
  background: transparent;
  outline: none;
  border: none;
}
